@model LibraryManagement.API.Models.PhieuMuon

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tạo mới</h1>
<hr />
@if (TempData["notice"] != null)
{
    if (TempData["notice"].ToString() == "Create Error")
    {
        <div class="alert alert-danger" role="alert">
            <strong> Tạo phiếu mượn không thành công!</strong>
        </div>
    }
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDgNavigation.TenDg" class="control-label"></label>
                <select asp-for="MaDg" class="form-control" asp-items="ViewBag.MaDg"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaNvNavigation.TenNv" class="control-label"></label>
                <select asp-for="MaNv" class="form-control" asp-items="ViewBag.MaNv"></select>
            </div>
            <div class="form-group">
                <label asp-for="HanTra" class="control-label"></label>
                <input asp-for="HanTra" class="form-control" />
                <span asp-validation-for="HanTra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Trở lại</a>
            </div>
        </form>
    </div>
</div>

