@model LibraryManagement.API.Models.PhieuMuon

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chỉnh Sửa</h1>
<hr />
@if (TempData["notice"] != null)
{
    if (TempData["notice"].ToString() == "Edit Error")
    {
        <div class="alert alert-danger" role="alert">
            <strong> Sửa phiếu mượn không thành công!</strong>
        </div>
    }
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MaDgNavigation.TenDg" class="control-label"></label>
                <select asp-for="MaDg" class="form-control" asp-items="ViewBag.MaDg"></select>
                <span asp-validation-for="MaDg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNvNavigation.TenNv" class="control-label"></label>
                <select asp-for="MaNv" class="form-control" asp-items="ViewBag.MaNv"></select>
                <span asp-validation-for="MaNv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongSachMuon" class="control-label"></label>
                <input asp-for="TongSachMuon" class="form-control" readonly />
                <span asp-validation-for="TongSachMuon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayMuon" class="control-label"></label>
                <input asp-for="NgayMuon" class="form-control"  type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                <span asp-validation-for="NgayMuon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HanTra" class="control-label"></label>
                <input asp-for="HanTra" class="form-control"  type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="HanTra" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DaTra" /> @Html.DisplayNameFor(model => model.DaTra)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label><br/>
                <input asp-for="TrangThai" value="1" type="radio" /> Chưa xác nhận<br />
                <input asp-for="TrangThai" value="2" type="radio" /> Đã xác nhận<br />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập Nhật" class="btn btn-primary" />
                <a class="btn btn-success" asp-action="Index">Trở về</a>
            </div>
        </form>
    </div>
</div>



