
LibraryManagement.Database/obj/

*.jfm

*.dbmdl

LibraryManagement.Database/LibraryManagement.Database.refactorlog

LibraryManagement.Admin/obj/Debug/

LibraryManagement.API/obj/Debug/

LibraryManagement.Web/obj/Debug/

*.cache

.vs/Library-Management/v16/Server/sqlite3/db.lock

.vs/Library-Management/v16/Server/sqlite3/storage.ide

.vs/Library-Management/v16/Server/sqlite3/storage.ide-shm

.vs/Library-Management/v16/Server/sqlite3/storage.ide-wal

.vs/Library-Management/v16/.suo

*.sqlite

.vs/Library-Management/DesignTimeBuild/.dtbcache

*.pdb

*.dacpac

*.dll

*.testlog

*.manifest

LibraryManagement.Database/bin/Debug/

LibraryManagement.Web/obj/

*.props

*.config

LibraryManagement.Admin/obj/Debug/

LibraryManagement.Admin/bin/Debug/
