
.vs/

LibraryManagement.Database/obj/

*.jfm

*.dbmdl

LibraryManagement.Database/LibraryManagement.Database.refactorlog

LibraryManagement.Admin/obj/Debug/

LibraryManagement.API/obj/Debug/

LibraryManagement.Web/obj/Debug/

*.cache
