@model LibraryManagement.API.Models.DocGia

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chỉnh sửa</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="NgayDangKy" />
            <input type="hidden" asp-for="Username" />
            <input type="hidden" asp-for="Password" />
            <div class="form-group">
                <label asp-for="TenDg" class="control-label"></label>
                <input asp-for="TenDg" class="form-control" />
                <span asp-validation-for="TenDg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label"></label><br />
                <input asp-for="GioiTinh" type="radio" value="Nam" /> Nam<br />
                <input asp-for="GioiTinh" type="radio" value="Nữ" /> Nữ<br />
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label"></label>
                <input asp-for="NgaySinh" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cmnd" class="control-label"></label>
                <input asp-for="Cmnd" class="form-control" />
                <span asp-validation-for="Cmnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLanViPham" class="control-label"></label>
                <input asp-for="SoLanViPham" class="form-control" />
                <span asp-validation-for="SoLanViPham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label><br />
                <input asp-for="TrangThai" type="radio" value="true" /> Hoạt động<br />
                <input asp-for="TrangThai" type="radio" value="false" /> Vô hiệu hóa<br />
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">Trở lại</a>
</div>
