
@{
    ViewData["Title"] = "About";
}

<!-- about -->
<div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>Giới thiệu</span>
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-6 welcome-left">
                <h3>Thư viện thành phố</h3>
                <h4 class="my-sm-3 my-2">
                    Thư viện Khoa học Tổng hợp Thành phố Hồ Chí Minh tiền thân là thư viện của các Ðô đốc Thống đốc, được thành lập vào năm 1868. Trước năm 1975 có tên gọi Thư viện Quốc gia của Nam Việt Nam. Tòa nhà được khởi công xây dựng vào năm 1968 và hoàn thành vào năm 1972. Hiện nay là Thư viện Khoa học Tổng hợp Thành phố Hồ Chí Minh theo quyết định của Ủy ban Nhân dân Thành phố Hồ Chí Minh ngày 14/04/1978. Tên viết tắt là TVKHTH TPHCM

                    Tên giao dịch quốc tế: General Sciences Library of Ho Chi Minh City - viết tắt là GSLHCMC

                    Có diện tích 7.070 m2, cấu trúc cơ sở gồm hai khối:

                    Khối I: Dãy nhà dài 71m x 23m, gồm 1 tầng hầm, 1 trệt và 2 lầu.

                    Khối II: Cao 43 m, gồm 14 tầng để làm kho chứa sách, báo  tạp chí.
                </h4>
                <p>

                    1. Thư viện Khoa học Tổng hợp là đơn vị sự nghiệp công lập thuộc Sở Văn hóa và Thể thao Thành phố Hồ Chí Minh có chức năng thu thập, bảo quản, tổ chức khai thác và sử dụng chung các tài liệu được xuất bản tại thành phố và nói về thành phố, các tài liệu trong nước và ngoài nước phù hợp với đặc điểm, yêu cầu xây dựng và phát triển thành phố về chính trị, kinh tế, văn hóa, an ninh quốc phòng trong thời kỳ công nghiệp hóa, hiện đại hóa đất nước.

                    2. Thư viện Khoa học Tổng hợp có tư cách pháp nhân, có con dấu riêng, được cấp kinh phí hoạt động từ ngân sách Nhà nước và được mở tài khoản ở Kho bạc Nhà nước và Ngân hàng theo quy định của pháp luật.
                    Tên giao dịch, đối ngoại của Thư viện Khoa học Tổng hợp thành phố Hồ Chí Minh là "General Sciences Library of HoChiMinh City"
                </p>
            </div>
            <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
                <img src="../images/ab.jpg" class="img-fluid" alt=" ">
            </div>
        </div>
    </div>
</div>
<!-- //about -->
