@model LibraryManagement.API.Models.PhieuNhap

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tạo mới</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NhaCungCap" class="control-label"></label>
                <input asp-for="NhaCungCap" class="form-control" />
                <span asp-validation-for="NhaCungCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhanVienNhap" class="control-label"></label>
                <select asp-for="NhanVienNhap" class ="form-control" asp-items="ViewBag.NhanVienNhap"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">Trở lại</a>
</div>

