@model LibraryManagement.API.Models.PhieuNhap

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chỉnh sửa</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TrangThai" />
            <div class="form-group">
                <label asp-for="NgayNhap" class="control-label"></label>
                <input asp-for="NgayNhap" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" readonly />
                <span asp-validation-for="NgayNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" readonly />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhaCungCap" class="control-label"></label>
                <input asp-for="NhaCungCap" class="form-control" />
                <span asp-validation-for="NhaCungCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhanVienNhap" class="control-label"></label>
                <select asp-for="NhanVienNhap" class="form-control" asp-items="ViewBag.NhanVienNhap"></select>
                <span asp-validation-for="NhanVienNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-default" asp-action="Index">Trở lại</a>
</div>

