
@{
    ViewData["Title"] = "Single";
}

<!-- page -->
<div class="services-breadcrumb">
    <div class="agile_inner_breadcrumb">
        <div class="container">
            <ul class="w3_short">
                <li>
                    <a href="index.html">Home</a>
                    <i>|</i>
                </li>
                <li>Single Product 1</li>
            </ul>
        </div>
    </div>
</div>
<!-- //page -->
<!-- Single Page -->
<div class="banner-bootom-w3-agileits py-5">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>S</span>ingle
            <span>P</span>age
        </h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-5 col-md-8 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="../images/si1.jpg">
                                <div class="thumb-image">
                                    <img src="~/images/si1.jpg" data-imagezoom="true" class="img-fluid" alt="">
                                </div>
                            </li>
                            <li data-thumb="../images/si2.jpg">
                                <div class="thumb-image">
                                    <img src="~/images/si2.jpg" data-imagezoom="true" class="img-fluid" alt="">
                                </div>
                            </li>
                            <li data-thumb="../images/si3.jpg">
                                <div class="thumb-image">
                                    <img src="~/images/si3.jpg" data-imagezoom="true" class="img-fluid" alt="">
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                <h3 class="mb-3">Payback Time - Ngày Đòi Nợ</h3>
                <p class="mb-3">
                    <span class="item_price">$200.00</span>
                    <del class="mx-2 font-weight-light">$280.00</del>
                    @*<label>Free delivery</label>*@
                </p>
                <div class="single-infoagile">
                    <ul>
                        <li class="mb-3">
                            Tác giả: Phil Town
                        </li>
                        <li class="mb-3">
                            Nhà xuất bản: 	HappyLive
                        </li>
                        @*<li class="mb-3">
                            EMIs from $655/month.
                        </li>
                        <li class="mb-3">
                            Bank OfferExtra 5% off* with Axis Bank Buzz Credit CardT&C
                        </li>*@
                    </ul>
                </div>
                <div class="product-single-w3l">
                    <p class="my-3">
                        <i class="far fa-hand-point-right mr-2"></i>
                        "Trong chứng khoán và thị trường tài chính, dám tham gia đầu tư cũng là một thành công tâm lý ban đầu. Dù vậy, 95% nhà đầu tư Việt Nam thuộc nhóm nhà đầu tư nhỏ lẻ với vốn kiến thức tài chính vô cùng hạn chế. Họ tham gia vào thị trường chứng khoán với 100% ý chí và sự quyết tâm chiến thắng thị trường, nhưng thật không may mắn kết cục cuối cùng của họ luôn là sự thất bại và mất tiền.

                        Bởi vì, chúng ta thường dễ dàng nghe theo các “lời khuyên miễn phí” đến từ bạn bè, những người môi giới, những người nghe ngóng thông tin từ các “đội lái” làm giá và thao túng chứng khoán. Chúng ta không biết làm thế nào để phân biệt hai khái niệm “giá cả – pricing” và “giá trị – value”. Hay mua mua, bán bán liên tục hàng ngày với việc dán mắt vào bảng điện tử, phân tích biểu đồ, đường trung bình giá… và mong đợi một vận may cổ phiếu cùng giá của nó sẽ đi theo suy đoán của mình?

                        Rất nhiều “nhà đầu tư” không hề có một hệ thống đầu tư chuẩn mực nào cả. Không biết cách và những tiêu chí để tìm kiếm cổ phiếu, theo dõi, quyết định điểm mua và quyết định thời điểm bán ra. Vì không có hệ thống đầu tư chuẩn mực nên kết quả chúng ta chỉ có một sự lựa chọn đó chính là THUA LỖ.

                        Vậy có phải chỉ có những chuyên gia tài chính mới có thể gặt hái thành công trên thị trường chứng khoán? Để kiếm được tiền từ chứng khoán bạn phải sở hữu hàng tá kho tàng kiến thức tài chính vốn không dễ dàng “hấp thụ” trong một sớm một chiều?
                    </p>
                    @*<ul>
                        <li class="mb-1">
                            3 GB RAM | 16 GB ROM | Expandable Upto 256 GB
                        </li>
                        <li class="mb-1">
                            5.5 inch Full HD Display
                        </li>
                        <li class="mb-1">
                            13MP Rear Camera | 8MP Front Camera
                        </li>
                        <li class="mb-1">
                            3300 mAh Battery
                        </li>
                        <li class="mb-1">
                            Exynos 7870 Octa Core 1.6GHz Processor
                        </li>
                    </ul>*@
                    @*<p class="my-sm-4 my-3">
                        <i class="fas fa-retweet mr-3"></i>Net banking & Credit/ Debit/ ATM card
                    </p>*@
                </div>
                <div class="occasion-cart">
                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart" />
                                <input type="hidden" name="add" value="1" />
                                <input type="hidden" name="business" value=" " />
                                <input type="hidden" name="item_name" value="Samsung Galaxy J7 Prime" />
                                <input type="hidden" name="amount" value="200.00" />
                                <input type="hidden" name="discount_amount" value="1.00" />
                                <input type="hidden" name="currency_code" value="USD" />
                                <input type="hidden" name="return" value=" " />
                                <input type="hidden" name="cancel_return" value=" " />
                                <input type="submit" name="submit" value="Add to cart" class="button" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jquery -->
<script src="~/js/jquery-2.2.3.min.js"></script>
<!-- //jquery -->
<!-- //Single Page -->
<!-- imagezoom -->
<script src="~/js/imagezoom.js"></script>
<!-- //imagezoom -->
<!-- flexslider -->
<link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />

<script src="~/js/jquery.flexslider.js"></script>
<script>
    // Can also be used with $(document).ready()
    jQuery(document).ready(function($){
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>
<!-- //FlexSlider-->
<!-- smoothscroll -->
<script src="~/js/SmoothScroll.min.js"></script>
<!-- //smoothscroll -->
<!-- start-smooth-scrolling -->
<script src="~/js/move-top.js"></script>
<script src="~/js/easing.js"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script>
    $(document).ready(function () {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
        */
        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- for bootstrap working -->
<script src="~/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- //js-files -->
